@()(implicit request: RequestHeader, flash: Flash)

@main("Expense List") {
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateRoute" value="@routes.ExpensesList.validate()">
    <input type="hidden" id="expensesRoute" value="@routes.ExpensesList.expenseList">
    <input type="hidden" id="createRoute" value="@routes.ExpensesList.createUser">
    <input type="hidden" id="deleteRoute" value="@routes.ExpensesList.deleteExpense">
    <input type="hidden" id="addRoute" value="@routes.ExpensesList.addExpense">
    <input type="hidden" id="logoutRoute" value="@routes.ExpensesList.logout">

    <div id="react-root"></div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
}