@main("login"){
    <section>
        <h2>Login</h2>
    <form method="post" action="@routes.ExpensesList.validate">
        Username: <input type="text" name="username">
            <br>
        Password:  <input type="password" name="password">
            <br>
        <input type="submit">
    </form>
    </section>
    <section>
        <h2>Register</h2>
    <form method="post" action="@routes.ExpensesList.createUser">
        Username: <input type="text" name="username">
        <br>
        Password: <input type="password" name="password">
        <br>
        <input type="submit">
    </form>
    </section>
}